<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a17a350a-358c-5476-ad6b-d60ded2dc5d9" Alias="Blocks (modal)" Level="1">
  <Info>
    <Name>Blocks (modal)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5cb61180-562e-5fc8-9974-067ad8a6ba9b",
      "settingsElementTypeKey": "70b555a9-4d9d-5cd4-880b-593a24354dee"
    },
    {
      "contentElementTypeKey": "4bfddf8e-04ca-5197-b6d1-2724a0dc9bbc"
    },
    {
      "contentElementTypeKey": "05eed208-6e7b-5366-878b-99486df679e6"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false
}]]></Config>
</DataType>