<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ed9f4df6-f4f5-5466-96dc-ce993603d7a1" Alias="Blocks (grid)" Level="1">
  <Info>
    <Name>Blocks (grid)</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5cb61180-562e-5fc8-9974-067ad8a6ba9b",
      "settingsElementTypeKey": "70b555a9-4d9d-5cd4-880b-593a24354dee",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "05eed208-6e7b-5366-878b-99486df679e6",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": false
}]]></Config>
</DataType>