<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86052334-32c1-5095-a7e0-36fd2ea12db4" Alias="True/false (default on)" Level="1">
  <Info>
    <Name>True/false (default on)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": true
}]]></Config>
</DataType>