<?xml version="1.0" encoding="utf-8"?>
<Media Key="43aba5f8-52fa-40ea-b707-6dc1e9c5fee9" Alias="Promo media" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PromoMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>blockMedia</ContentType>
    <CreateDate>2026-09-25T11:56:40</CreateDate>
    <NodeName Default="Promo media" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5cb61180-562e-5fc8-9974-067ad8a6ba9b",
      "key": "2568bcb1-7289-49cc-9f64-facdc9d24df8",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Media promo"
        },
        {
          "alias": "overlayColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#7a4e9c"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "70b555a9-4d9d-5cd4-880b-593a24354dee",
      "key": "16a9179b-ef9e-4b48-bb16-3e5aee7b8ac0",
      "values": [
        {
          "alias": "anchorId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "media-promo"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "2568bcb1-7289-49cc-9f64-facdc9d24df8",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2568bcb1-7289-49cc-9f64-facdc9d24df8",
        "contentUdi": null,
        "settingsKey": "16a9179b-ef9e-4b48-bb16-3e5aee7b8ac0",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
  </Properties>
</Media>