<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="267e76a8-9019-41a9-a95a-5b32e74f2e47" Alias="blockMedia" Level="1">
  <Info>
    <Name>Block media</Name>
    <Icon>icon-layers-alt</Icon>
    <Thumbnail>icon-layers-alt</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>789716ba-f652-4c0d-959f-a17c5fb83bda</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>4fe7f631-8f8f-5217-a17b-7f5258a35f18</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>530ec922-a2ec-424a-986b-ee88684999d2</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>