<?xml version="1.0" encoding="utf-8"?>
<Content Key="090e6609-9fde-528e-a54d-676e7e7924b0" Alias="Campaign landing" Level="2">
  <Info>
    <Parent Key="4e52c40b-f7b9-526a-bce6-6f3e8b67f997">Campaign site</Parent>
    <Path>/CampaignSite/CampaignLanding</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPage</ContentType>
    <CreateDate>2026-09-25T11:56:39</CreateDate>
    <NodeName Default="Campaign landing" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[]]></Value>
    </bannerImage>
    <enableExperimental>
      <Value><![CDATA[1]]></Value>
    </enableExperimental>
    <gridBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5cb61180-562e-5fc8-9974-067ad8a6ba9b",
      "key": "efc49255-b1fc-52e1-81dc-c7f48e11b1e3",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Campaign grid promo"
        },
        {
          "alias": "overlayColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#3544b1"
        }
      ]
    },
    {
      "contentTypeKey": "05eed208-6e7b-5366-878b-99486df679e6",
      "key": "e3a9a32f-7eb2-527b-a091-f35735bac254",
      "values": [
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Campaign grid call to action"
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "/"
        },
        {
          "alias": "campaignCode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "campaign-grid-cta"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "70b555a9-4d9d-5cd4-880b-593a24354dee",
      "key": "b3fc8ca9-6ae2-57d0-92d6-b0e8749de23e",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "efc49255-b1fc-52e1-81dc-c7f48e11b1e3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e3a9a32f-7eb2-527b-a091-f35735bac254",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "efc49255-b1fc-52e1-81dc-c7f48e11b1e3",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "b3fc8ca9-6ae2-57d0-92d6-b0e8749de23e",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "e3a9a32f-7eb2-527b-a091-f35735bac254",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </gridBlocks>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <inlineBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5cb61180-562e-5fc8-9974-067ad8a6ba9b",
      "key": "466df182-3272-5e7d-9ca0-e82a8b16aad0",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Campaign inline promo"
        },
        {
          "alias": "overlayColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#2bc37c"
        }
      ]
    },
    {
      "contentTypeKey": "05eed208-6e7b-5366-878b-99486df679e6",
      "key": "20210137-6938-52fd-8401-8fe116a2a5c3",
      "values": [
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Campaign inline call to action"
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "/"
        },
        {
          "alias": "campaignCode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "campaign-inline-cta"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "70b555a9-4d9d-5cd4-880b-593a24354dee",
      "key": "ed0b6c70-484f-54e4-92d4-f414d75c5115",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "466df182-3272-5e7d-9ca0-e82a8b16aad0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "20210137-6938-52fd-8401-8fe116a2a5c3",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "466df182-3272-5e7d-9ca0-e82a8b16aad0",
        "contentUdi": null,
        "settingsKey": "ed0b6c70-484f-54e4-92d4-f414d75c5115",
        "settingsUdi": null
      },
      {
        "contentKey": "20210137-6938-52fd-8401-8fe116a2a5c3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </inlineBlocks>
    <legacyRedirect>
      <Value><![CDATA[/old/campaign-landing]]></Value>
    </legacyRedirect>
    <mainBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5cb61180-562e-5fc8-9974-067ad8a6ba9b",
      "key": "f709b870-05bd-5996-8334-20126514b777",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Campaign main promo"
        },
        {
          "alias": "overlayColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#1b264f"
        }
      ]
    },
    {
      "contentTypeKey": "4bfddf8e-04ca-5197-b6d1-2724a0dc9bbc",
      "key": "d311f586-4567-58d8-a2eb-98a75e854fc3",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Campaign section"
        },
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5cb61180-562e-5fc8-9974-067ad8a6ba9b",
                "key": "cf203d13-a27d-51f5-9a17-43f2b1a7b551",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Campaign nested promo"
                  },
                  {
                    "alias": "overlayColour",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "#f5c1bc"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "70b555a9-4d9d-5cd4-880b-593a24354dee",
                "key": "bbb48640-db6c-5d8c-8f68-30fc12aecc97",
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "cf203d13-a27d-51f5-9a17-43f2b1a7b551",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "cf203d13-a27d-51f5-9a17-43f2b1a7b551",
                  "contentUdi": null,
                  "settingsKey": "bbb48640-db6c-5d8c-8f68-30fc12aecc97",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "05eed208-6e7b-5366-878b-99486df679e6",
      "key": "929ed6de-572d-5b76-8851-f3eaba575fb8",
      "values": [
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Campaign call to action"
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "/"
        },
        {
          "alias": "campaignCode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "campaign-main-cta"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "70b555a9-4d9d-5cd4-880b-593a24354dee",
      "key": "621f02a2-a6aa-5f3a-9f38-8dccff26d524",
      "values": [
        {
          "alias": "anchorId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "campaign-main-promo"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f709b870-05bd-5996-8334-20126514b777",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d311f586-4567-58d8-a2eb-98a75e854fc3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "929ed6de-572d-5b76-8851-f3eaba575fb8",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f709b870-05bd-5996-8334-20126514b777",
        "contentUdi": null,
        "settingsKey": "621f02a2-a6aa-5f3a-9f38-8dccff26d524",
        "settingsUdi": null
      },
      {
        "contentKey": "d311f586-4567-58d8-a2eb-98a75e854fc3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "929ed6de-572d-5b76-8851-f3eaba575fb8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainBlocks>
    <metaDescription>
      <Value><![CDATA[Meta description of the campaign landing page.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[campaign, landing, sample]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[Campaign landing meta title]]></Value>
    </metaTitle>
    <relatedLinks>
      <Value><![CDATA[[
  {
    "name": "Umbraco",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://umbraco.com/",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </relatedLinks>
    <title>
      <Value><![CDATA[Campaign landing]]></Value>
    </title>
    <trackingId>
      <Value><![CDATA[campaign-tracking]]></Value>
    </trackingId>
  </Properties>
</Content>