<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f115d11-31b5-510c-ae07-690a828ab0c9" Alias="Campaign article" Level="2">
  <Info>
    <Parent Key="4e52c40b-f7b9-526a-bce6-6f3e8b67f997">Campaign site</Parent>
    <Path>/CampaignSite/CampaignArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-09-25T11:56:39</CreateDate>
    <NodeName Default="Campaign article" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EBody text of the campaign article.\u003C/p\u003E"
}]]></Value>
    </bodyText>
    <shareImage>
      <Value><![CDATA[]]></Value>
    </shareImage>
    <shareTitle>
      <Value><![CDATA[Campaign article share title]]></Value>
    </shareTitle>
    <title>
      <Value><![CDATA[Campaign article]]></Value>
    </title>
  </Properties>
</Content>