<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e52c40b-f7b9-526a-bce6-6f3e8b67f997" Alias="Campaign site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CampaignSite</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2026-09-25T11:56:38</CreateDate>
    <NodeName Default="Campaign site" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerText>
      <Value><![CDATA[Footer text of the campaign site.]]></Value>
    </footerText>
    <siteTitle>
      <Value><![CDATA[Campaign site]]></Value>
    </siteTitle>
  </Properties>
</Content>