<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c2b4d7e-9f1a-4c3e-8b6d-2a1f0e9d8c7b" Alias="Corporate site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CorporateSite</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2026-09-25T11:56:37</CreateDate>
    <NodeName Default="Corporate site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerText>
      <Value><![CDATA[Footer text of the corporate site.]]></Value>
    </footerText>
    <siteTitle>
      <Value><![CDATA[Corporate site]]></Value>
    </siteTitle>
  </Properties>
</Content>