<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f0a059f-7512-5ba7-b5b2-0a26c4979c3b" Alias="Corporate variant page" Level="2">
  <Info>
    <Parent Key="5c2b4d7e-9f1a-4c3e-8b6d-2a1f0e9d8c7b">Corporate site</Parent>
    <Path>/CorporateSite/CorporateVariantPage</Path>
    <Trashed>false</Trashed>
    <ContentType>variantPage</ContentType>
    <CreateDate>2026-09-27T20:02:22</CreateDate>
    <NodeName Default="Corporate variant page">
      <Name Culture="da-DK">Corporate variant page (da-DK)</Name>
      <Name Culture="en-US">Corporate variant page</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da-DK">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5cb61180-562e-5fc8-9974-067ad8a6ba9b",
      "key": "1616dd3e-6633-59d9-abdc-888590b5569f",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Variant page promo"
        },
        {
          "alias": "overlayColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#1b264f"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "70b555a9-4d9d-5cd4-880b-593a24354dee",
      "key": "84cf7dfb-1f4e-5de9-b4e2-aa0f1ca3ff7d",
      "values": [
        {
          "alias": "anchorId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "variant-promo"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "1616dd3e-6633-59d9-abdc-888590b5569f",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1616dd3e-6633-59d9-abdc-888590b5569f",
        "contentUdi": null,
        "settingsKey": "84cf7dfb-1f4e-5de9-b4e2-aa0f1ca3ff7d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <canonicalUrl>
      <Value><![CDATA[https://example.com/corporate-variant-page]]></Value>
    </canonicalUrl>
    <sharedNote>
      <Value><![CDATA[A note shared by both cultures.]]></Value>
    </sharedNote>
    <variantMetaTitle>
      <Value Culture="da-DK"><![CDATA[Corporate variant meta title (da-DK)]]></Value>
      <Value Culture="en-US"><![CDATA[Corporate variant meta title (en-US)]]></Value>
    </variantMetaTitle>
    <variantTagline>
      <Value Culture="da-DK"><![CDATA[Corporate variant tagline (da-DK)]]></Value>
      <Value Culture="en-US"><![CDATA[Corporate variant tagline (en-US)]]></Value>
    </variantTagline>
    <variantTitle>
      <Value Culture="da-DK"><![CDATA[Corporate variant title (da-DK)]]></Value>
      <Value Culture="en-US"><![CDATA[Corporate variant title (en-US)]]></Value>
    </variantTitle>
  </Properties>
</Content>