<?xml version="1.0" encoding="utf-8"?>
<Content Key="dfd8b280-2782-5a82-ad7f-02607575f340" Alias="Corporate landing" Level="2">
  <Info>
    <Parent Key="5c2b4d7e-9f1a-4c3e-8b6d-2a1f0e9d8c7b">Corporate site</Parent>
    <Path>/CorporateSite/CorporateLanding</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPage</ContentType>
    <CreateDate>2026-09-25T11:56:38</CreateDate>
    <NodeName Default="Corporate landing" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[]]></Value>
    </bannerImage>
    <enableExperimental>
      <Value><![CDATA[1]]></Value>
    </enableExperimental>
    <gridBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5cb61180-562e-5fc8-9974-067ad8a6ba9b",
      "key": "4e1fa3d8-d3d7-5106-93a5-e15e97e70001",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Corporate grid promo"
        },
        {
          "alias": "overlayColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#3544b1"
        }
      ]
    },
    {
      "contentTypeKey": "05eed208-6e7b-5366-878b-99486df679e6",
      "key": "15fbeb4a-1271-5e47-a09a-8b2fcbe3c240",
      "values": [
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Corporate grid call to action"
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "/"
        },
        {
          "alias": "campaignCode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "corporate-grid-cta"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "70b555a9-4d9d-5cd4-880b-593a24354dee",
      "key": "878daf22-85e9-568d-8c3f-9027dba7b54b",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "4e1fa3d8-d3d7-5106-93a5-e15e97e70001",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "15fbeb4a-1271-5e47-a09a-8b2fcbe3c240",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "4e1fa3d8-d3d7-5106-93a5-e15e97e70001",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "878daf22-85e9-568d-8c3f-9027dba7b54b",
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "15fbeb4a-1271-5e47-a09a-8b2fcbe3c240",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </gridBlocks>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <inlineBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5cb61180-562e-5fc8-9974-067ad8a6ba9b",
      "key": "4b3d8c1a-a773-5f1f-b732-6a5cbce13192",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Corporate inline promo"
        },
        {
          "alias": "overlayColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#2bc37c"
        }
      ]
    },
    {
      "contentTypeKey": "05eed208-6e7b-5366-878b-99486df679e6",
      "key": "141e970b-7b11-590f-967a-1855fac2a973",
      "values": [
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Corporate inline call to action"
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "/"
        },
        {
          "alias": "campaignCode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "corporate-inline-cta"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "70b555a9-4d9d-5cd4-880b-593a24354dee",
      "key": "e7fd5798-b555-5d55-9d7b-2f490319bf86",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "4b3d8c1a-a773-5f1f-b732-6a5cbce13192",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "141e970b-7b11-590f-967a-1855fac2a973",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4b3d8c1a-a773-5f1f-b732-6a5cbce13192",
        "contentUdi": null,
        "settingsKey": "e7fd5798-b555-5d55-9d7b-2f490319bf86",
        "settingsUdi": null
      },
      {
        "contentKey": "141e970b-7b11-590f-967a-1855fac2a973",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </inlineBlocks>
    <legacyRedirect>
      <Value><![CDATA[/old/corporate-landing]]></Value>
    </legacyRedirect>
    <mainBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5cb61180-562e-5fc8-9974-067ad8a6ba9b",
      "key": "ca788a6e-9d2e-5ed8-8245-5dabfb5dec18",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Corporate main promo"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3758e77f-ffff-4663-a568-a8b2a831ca61",
              "mediaKey": "43aba5f8-52fa-40ea-b707-6dc1e9c5fee9",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "overlayColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#1b264f"
        }
      ]
    },
    {
      "contentTypeKey": "4bfddf8e-04ca-5197-b6d1-2724a0dc9bbc",
      "key": "e687ddce-61ce-5c39-9562-605161534894",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Corporate section"
        },
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5cb61180-562e-5fc8-9974-067ad8a6ba9b",
                "key": "cf365f05-f150-5312-970f-c3e05185074f",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Corporate nested promo"
                  },
                  {
                    "alias": "overlayColour",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "#f5c1bc"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "70b555a9-4d9d-5cd4-880b-593a24354dee",
                "key": "f555ceeb-e233-5332-b4a9-867501202b02",
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "cf365f05-f150-5312-970f-c3e05185074f",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "cf365f05-f150-5312-970f-c3e05185074f",
                  "contentUdi": null,
                  "settingsKey": "f555ceeb-e233-5332-b4a9-867501202b02",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "05eed208-6e7b-5366-878b-99486df679e6",
      "key": "58c7de61-3f0c-5d4b-9ec9-b5134686221c",
      "values": [
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Corporate call to action"
        },
        {
          "alias": "url",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "/"
        },
        {
          "alias": "campaignCode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "corporate-main-cta"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "70b555a9-4d9d-5cd4-880b-593a24354dee",
      "key": "58a41287-ad1e-5c05-a9ac-0af5b70ccd50",
      "values": [
        {
          "alias": "anchorId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "corporate-main-promo"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ca788a6e-9d2e-5ed8-8245-5dabfb5dec18",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e687ddce-61ce-5c39-9562-605161534894",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "58c7de61-3f0c-5d4b-9ec9-b5134686221c",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ca788a6e-9d2e-5ed8-8245-5dabfb5dec18",
        "contentUdi": null,
        "settingsKey": "58a41287-ad1e-5c05-a9ac-0af5b70ccd50",
        "settingsUdi": null
      },
      {
        "contentKey": "e687ddce-61ce-5c39-9562-605161534894",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "58c7de61-3f0c-5d4b-9ec9-b5134686221c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </mainBlocks>
    <metaDescription>
      <Value><![CDATA[Meta description of the corporate landing page.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[corporate, landing, sample]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[Corporate landing meta title]]></Value>
    </metaTitle>
    <relatedLinks>
      <Value><![CDATA[[
  {
    "name": "Umbraco",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://umbraco.com/",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </relatedLinks>
    <title>
      <Value><![CDATA[Corporate landing]]></Value>
    </title>
    <trackingId>
      <Value><![CDATA[corporate-tracking]]></Value>
    </trackingId>
  </Properties>
</Content>