<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f7d65bc-30ae-545b-b3ab-2f484a6904a7" Alias="Corporate article" Level="2">
  <Info>
    <Parent Key="5c2b4d7e-9f1a-4c3e-8b6d-2a1f0e9d8c7b">Corporate site</Parent>
    <Path>/CorporateSite/CorporateArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-09-25T11:56:38</CreateDate>
    <NodeName Default="Corporate article" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EBody text of the corporate article.\u003C/p\u003E"
}]]></Value>
    </bodyText>
    <shareImage>
      <Value><![CDATA[]]></Value>
    </shareImage>
    <shareTitle>
      <Value><![CDATA[Corporate article share title]]></Value>
    </shareTitle>
    <title>
      <Value><![CDATA[Corporate article]]></Value>
    </title>
  </Properties>
</Content>